<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/repository.css">
    <!-- [END css] -->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Music Repository</a>
          <div class="nav-collapse collapse pull-right">
          <a href="/history" class="btn">My Purchase History</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h2>Thank you for purchasing</h2>
      <hr>
      <a href="/">Return Main Page</a>
    </div>
  </body>
</html>
{% endautoescape %}
