<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/repository.css">
    <!-- [END css] -->

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Wine Inventory</a>
          <div class="nav-collapse collapse pull-right">
          <a href="/shoppingcart" class="btn">My Shopping Cart</a>
          <a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h2>Search Wine</h2>
      <hr>
      {% if region or country or name or variety %}
        {% if wines %}
          {% for wine in wines %}

        {{wine.country}},
        {{wine.region}},
        {{wine.name}},
        {{wine.variety}},
        {{wine.price}},
        {{wine.year}}

            <form class="shoppingcart" action="/search" method="post">

              <input type="hidden" value="{{ type_name }}" name="type_name">

              <input type="hidden" value="{{ country }}" name="country">
              <input type="hidden" value="{{ region }}" name="region">
              <input type="hidden" value="{{ name }}" name="name">
              <input type="hidden" value="{{ variety }}" name="variety">
              <input type="hidden" value="{{ price }}" name="price">
              <input type="hidden" value="{{ year }}" name="year">

              <input type="hidden" value="{{ wine.country }}" name="wine_to_cart_country">
              <input type="hidden" value="{{ wine.region }}" name="wine_to_cart_region">
              <input type="hidden" value="{{ wine.name }}" name="wine_to_cart_name">
              <input type="hidden" value="{{ wine.variety}}" name="wine_to_cart_variety">
              <input type="hidden" value="{{ wine.price }}" name="wine_to_cart_price">
              <input type="hidden" value="{{ wine.year}}" name="wine_to_cart_year">
              <input type="submit" class="btn btn-small" value="add to cart">
            </form>
            <div style="line-height: 130%"><br></div>
          {% endfor %}
        {% else %}
          No result in this genre
          {% endif %}
      {% endif %}
      <hr>
      <form action="/search" method="post">
        <input type="hidden" value="{{type_name}}" name="type_name">
        <div>Country of Origin:<textarea name="country" class="input-block-level" rows="1" ></textarea></div>
        <div>Region:<textarea name="region" class="input-block-level" rows="1" ></textarea></div>
        <div>Winery Name:<textarea name="name" class="input-block-level" rows="1"></textarea></div>
        <div>Variety: <textarea name="variety" class="input-block-level" rows="1"></textarea></div>



        <div><input type="submit" class="btn btn-large btn-primary" value="Search"></div>
      </form>
      <font color="red">{{message}}</font>
      <hr>

      <form>Genre:
        <input value="{{ type_name }}" name="type_name">
        <input type="submit" value="switch"> 
      </form>

      <a href="/">Return Main Page</a>
    </div>
  </body>
</html>
{% endautoescape %}
